<br/>
<br/>
<div class="login">
  <h2 style="margin-top: 10px">Change Password</h2>
  <br/>
  <br/>
<form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit(editForm)">
  <table style="margin-left: 30%">
    <tr>
      <td style="text-align: left">New password:</td>
      <td><input style="width: 200px" formControlName="password" id="name" type="password" placeholder="Enter new password"/></td>

    </tr>
    <br/>
    <tr>
      <td style="text-align: left">Confirm password:</td>
      <td><input style="width: 200px" formControlName="matchpassword" id="password" type="password" placeholder="Enter new password again" /></td>
      </tr>
    </table>
    <br/>
    <br/>
    <p><button class="btn btn-primary" style="width: 100px" type="submit">Change</button></p>
  </form>
  <p><button class="btn btn-primary" style="width: 100px" (click)="returnPage()">Return</button></p>
  </div>
